/* #parent{
    border:1px solid red;
    height:50vh;
}
#child{
    border:1px solid blue;
    width:50%;
}  */

/* #parent{
    border:1px solid red;
    height:50vh;
    width:50vw;
}
#child{
    border:1px solid blue;
    width:50%;
}  */

/* #parent{
    font-size:30px;
}
#child{
    font-size:0.5em;
}     */

/* html{
    font-size:14px;
}
#parent{
    font-size:40px;
}
#child{
    font-size:2rem;
}   */

/* html{
    font-size:14px;
}
#parent{
    font-size:4vw;
}
#child{
    font-size:2em;
}   */

/* div{
    border:1px solid red;
}   */

/* div{
    border:1px solid red;
    cursor:auto;
}   */

/* div{
    border:1px solid red;
    cursor:zoom-out;
}    */

/* div{
    border:1px solid red !important;
}
div{
    border:1px solid pink;
}      */

/* div{
    border:1px solid red;
    width:500px;
    background-color:palevioletred;
    margin: 100px;
    padding:20px;
    box-shadow:10px 20px 15px lightskyblue;
}      */

/* div{
    border:1px solid red;
    width:500px;
    background-color:palevioletred;
    margin: 100px;
    padding:20px;
    box-shadow:10px 10px 15px 3px lightskyblue;
}    */

/* div{
    border:1px solid red;
    width:500px;
    background-color:palevioletred;
    margin: 100px;
    padding:20px;
    box-shadow:10px 10px 15px 3px lightskyblue inset;
}     */

/* div{
    border:1px solid red;
    width:500px;
    background-color:palevioletred;
    margin: 100px;
    padding:20px;
    box-shadow:10px 10px 15px 3px lightskyblue,-10px 10px 15px 3px lightseagreen ;
} */

/* #color-box{
    background-color: limegreen;
    height: 200px;
    width: 500px;
    margin-bottom:20px;
    opacity:0.5;
}
img{
    opacity: 0.3;
}      */

/* #color-box{
    background-color: limegreen;
    height: 200px;
    width: 500px;
    margin-bottom:20px;
    opacity:0.5;
}
img:hover{
    opacity: 0.7;
} */

/* #color-box{
    background-color: limegreen;
    height: 200px;
    width: 500px;
    margin-bottom:20px;

}
#red-box{
    height: 300px;
    width: 200px;
    background-color: red;
    margin-top:-100px ;
    opacity:0.5;
}   */

/* img{
    filter:blur(10px) ;
} */

/* img{
    filter:brightness(70%) ;
} */

/* img{
    filter:contrast(70%) ;
}     */

/* img{
    filter:drop-shadow(8px 8px 5px red) ;
}    */

/* img{
    filter: grayscale(100%);
} */

/* img{
    filter: hue-rotate(90deg);
} */

/* img{
    filter:invert(50%);
}    */

/* img{
    filter: opacity(30%);
} */

/* img{
    filter: saturate(30%);
} */

/* img{
    filter: sepia(30%);
} */

/* img{
    filter: brightness(80%), contrast(100%);
} */

/* #sprite{
    height: 128px;
    background-image: url('flag1.png');
    background-repeat: no-repeat;
    background-position:0px -175px;
}     */

/* #div1{
    height:500px;
    border: 1px solid red;
    background-image:linear-gradient(pink,lightskyblue) ;
}   */

#div1{
    height:500px;
    border: 1px solid red;
    background-image:linear-gradient(to right, pink,lightskyblue,gray) ;
}